@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --color-black-primary: #141414;
    --color-black-secondary: #2D2D2D;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

* {
    font-family: 'Inter', sans-serif;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin 2.5s linear infinite;
}

